<h1 mat-dialog-title>Ajouter un mot de passe</h1>
<mat-dialog-content class="mat-typography">
    <form #e="ngForm">

        <!-- titre -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Titre</mat-label>
            <input matInput type="text" name="Titre" ngModel required>
        </mat-form-field>
    
        <!-- login -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Login</mat-label>
            <input matInput type="text" name="Login" ngModel required>
        </mat-form-field>
    
        <!-- mdp -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input #inputMdp matInput [type]="voirMdp ? 'text' : 'password'" name="Mdp" ngModel required>
            <button matSuffix mat-icon-button type="button" (click)="OuvrirModalGenerateurMdp()">
                <mat-icon>casino</mat-icon>
            </button>
            <button matSuffix mat-icon-button type="button" (click)="AfficherMdp()">
                <mat-icon>{{ voirMdp ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>
    
        <div class="row">

            <!-- url -->
            <div class="col-xs-12 col-lg-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Url</mat-label>
                    <input matInput type="text" name="Url" ngModel required>
                </mat-form-field>
            </div>

            <!-- date -->
            <div class="col-xs-12 col-lg-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Date expiration</mat-label>
                    <input matInput name="DateExpiration" [matDatepicker]="picker" ngModel>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    
        <!-- description -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput rows="5" name="Description" ngModel></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="warn" [mat-dialog-close]="false">Annuler</button>
    <button mat-raised-button color="primary" (click)="Ajouter(e)">Enregistrer</button>
</mat-dialog-actions>