<h1 mat-dialog-title>Créer un groupe</h1>
<mat-dialog-content class="mat-typography">
    <form #e="ngForm">

        <!-- titre -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Titre</mat-label>
            <input matInput type="text" name="Titre" ngModel required>
        </mat-form-field>

        <!-- liste des mdp -->
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        Choisissez les mots de passe à partager
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-selection-list color="primary" name="ListeIdMdp" ngModel>
                    <mat-list-option [value]="element.Id" *ngFor="let element of listeMdp">
                      {{ element.Titre }}
                    </mat-list-option>
                  </mat-selection-list>

            </mat-expansion-panel>
        </mat-accordion><br>

        <p>Saisissez une adresse mail et appuyer sur entrer pour valider</p>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Mail</mat-label>
            <input #inputMail (keyup.enter)="AjouterListeMail(inputMail.value)" matInput placeholder="exemple@mail.com" type="email">
        </mat-form-field>

        <mat-list role="list">
            <mat-list-item *ngFor="let element of listeMail; let i = index" role="listitem">
                <mat-icon style="cursor: pointer;" (click)="Supprimer(i)">close</mat-icon>
                {{ element }}
            </mat-list-item>
        </mat-list>

    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="warn" [mat-dialog-close]="false">Annuler</button>
    <button mat-raised-button color="primary" (click)="Ajouter(e)">Ajouter</button>
</mat-dialog-actions>