<h1 mat-dialog-title>Information du groupe: {{ nomGroupe }}</h1>
<mat-dialog-content style="padding-bottom: 10px" class="mat-typography">

    <mat-accordion>

        <!-- liste compte -->
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Liste des comptes
            </mat-panel-title>
          </mat-expansion-panel-header>

          <form #e="ngForm">
            <p>Saisissez une adresse mail et appuyer sur entrer pour valider</p>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Mail</mat-label>
                <input #inputMail (keyup.enter)="ModifierListeMailGroupe(inputMail.value)" matInput placeholder="exemple@mail.com" type="email">
            </mat-form-field>

            <span *ngIf="infoGroupe.listeCompte.length == 0">Aucun compte</span>

            <mat-selection-list #listeIdCompte class="mb-3" name="listeIdCompte" color="primary" ngModel>
              <mat-list-option [value]="element.Id" *ngFor="let element of infoGroupe.listeCompte" >
                {{ element.Prenom }} {{ element.Nom }} ({{ element.Mail }})
              </mat-list-option>
            </mat-selection-list>

            <button *ngIf="listeIdCompte.selectedOptions.selected.length > 0" mat-raised-button (click)="SupprimerCompteGroupe(e)" color="primary">Supprimer</button>
          </form>
        </mat-expansion-panel>

        <!-- liste MDP -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Liste des mots de passe
              </mat-panel-title>
            </mat-expansion-panel-header>

            <form #f="ngForm">
              <div>
                <button mat-raised-button color="primary" (click)="OuvrirModalAjouterMdp()">
                  Ajouter un mot de passe
                </button>
              </div>
              <div class="mt-3"><span *ngIf="infoGroupe.listeMdp.length == 0">Aucun mot de passe</span></div>
              <mat-selection-list #listeIdMdp class="mb-3" name="listeIdMdp" color="primary" ngModel>
                <mat-list-option [value]="element.Id" *ngFor="let element of infoGroupe.listeMdp">
                  {{ element.Login }} {{ element.Mdp }} ({{ element.Titre }})
                </mat-list-option>
              </mat-selection-list>

              <button *ngIf="listeIdMdp.selectedOptions.selected.length > 0" mat-raised-button (click)="SupprimerMdpGroupe(f)" color="primary">Supprimer</button>
            </form>
          </mat-expansion-panel>
    </mat-accordion>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [mat-dialog-close]="{ NbCompte: infoGroupe.listeCompte.length, NbMdp: infoGroupe.listeMdp.length }">Fermer</button>
</mat-dialog-actions>